/*  ============================================================================
    Minity CSS stylesheet for Whoaverse (http://whoaverse.com/)
    Designed by Nurdoidz
    
    Stylesheet on Github: http://github.com/Nurdoidz/Minity-WhoaVerse/
    ============================================================================ */



/* ! Body
================================================================================ */

    body {
        color:       #333;
        font-family: Arial,sans-serif;
        font-size:   10px;
    }

    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,
    blockquote,th,td,iframe {margin: 0;padding: 0;}

    a,a:visited {
        color:           #4AABE7;
        text-decoration: none;
    }

    a img {border: 0;}

    a.author {margin: 0 3px;}

    .arrow-downvote,.arrow-downvoted,.arrow-upvote,.arrow-upvoted {
        background: url(http://i.imgur.com/uefdu1d.png);
        cursor:     pointer;
        height:     16px;
        margin:     auto;
        width:      16px;
    }
        .arrow-upvote {background-position: 0 -10px;}
        .arrow-upvoted {background-position: -16px -10px;}
        .arrow-downvote {background-position: 0 -26px;}
        .arrow-downvoted {background-position: -16px -26px;}

    .btn-whoaverse-paging {
        background:            #4AABE7;
        background:            -webkit-linear-gradient(top,#54B5F1,#4AABE7);
        background:            -moz-linear-gradient(top,#54B5F1,#4AABE7);
        background:            -ms-linear-gradient(top,#54B5F1,#4AABE7);
        background:            -o-linear-gradient(top,#54B5F1,#4AABE7);
        border:                1px solid #4C9FD2;
        -webkit-border-radius: 2px;
        border-radius:         2px;
        -webkit-box-shadow:    none;
        box-shadow:            none;
        color:                 #FFF;
        cursor:                pointer;
        display:               inline-block;
        font-family:           inherit;
        font-size:             11px;
        font-weight:           normal;
        padding:               2px 4px;
        text-align:            center;
        text-decoration:       none;
        text-shadow:           none;
    }
    .btn-whoaverse-paging:hover {
        background:   #66C2FB;
        background:   -webkit-linear-gradient(top,#66C2FB,#5AB3EA);
        background:   -moz-linear-gradient(top,#66C2FB,#5AB3EA);
        background:   -ms-linear-gradient(top,#66C2FB,#5AB3EA);
        background:   -o-linear-gradient(top,#66C2FB,#5AB3EA);
        border-color: #5BACDE;
    }

    .btn-whoaverse-paging a {color: #FFF;}

    .entry {
        margin:   0;
        overflow: hidden;
    }

    .flat-list {
        list-style-type: none;
        display: inline;
    }

    .flat-list li,.flat-list form {
        display:     inline;
        white-space: nowrap;
    }

    img {vertical-align: middle;}

    .midcol {
        background:   none;
        float:        left;
        margin-left:  7px;
        margin-right: 10px;
        overflow:     hidden;
    }

    ol,ul {list-style: none;}

    .separator {
        color:  inherit;
        margin: 0 2px;
    }

    .subreddit {margin: 0;}

    .tagline {
        color:       #868686;
        font-size:   12px;
        line-height: 18px;
    }

    .user {color: inherit;}

        .user .userkarma {
            border-bottom: 1px dotted #999;
            cursor:        help;
            font-size:     95%;
            font-weight:   normal;
        }




/* ! Header
================================================================================ */

    #header {
        background-position: center bottom;
        border-bottom:       1px solid #DCDCDC;
        height:              81px !important;
        margin:              0 0 10px;
        position:            relative;
        z-index:             99;
    }


    /* ! Header : Top
    -------------------------------------------------------------------------------- */

        #sr-header-area {
            background:     #FFF;
            border-bottom:  1px solid #DCDCDC;
            font-size:      12px;
            line-height:    22px;
            height:         24px;
            text-transform: none;
            white-space:    nowrap;
        }

        .hover a:hover {text-decoration: underline;}


        #sr-header-area .width-clip {
            left:     0;
            position: absolute;
            right:    0;
        }


        /* ! Header : Top : Subverses list
        -------------------------------------------------------------------------------- */

            #sr-bar li a {
                color:              #818181;
                -webkit-transition: color 0.2s ease;
                -moz-transition:    color 0.2s ease;
                -ms-transition:     color 0.2s ease;
                -o-transition:      color 0.2s ease;
                transition:         color 0.2s ease;
            }
            #sr-header-area:hover #sr-bar li a {color: #444;}


            #sr-header-area .sr-list {
                margin-left: 5px;
                overflow:    hidden;
            }
            
                .sr-list li a {color: #444;}

            .sr-bar .separator {visibility: hidden;}


            #sr-more-link {
                background:     #FFF;
                border:         0;
                color:          #444;
                display:        inline-block;
                font-weight:    normal;
                height:         24px;
                letter-spacing: 1px;
                margin:         0;
                padding:        1px 7px;
                position:       absolute;
                right:          0;
                top:            -1px;
            }
            #sr-more-link:hover {
                background:      #4AABE7;
                color:           #FFF;
                text-decoration: none;
            }


            /* ! Header : Top : Subverses list : Subscription menu
            -------------------------------------------------------------------------------- */

                .whoaSubscriptionMenu {margin: 0;padding: 0;}

                .whoaSubscriptionMenu li {float: left;list-style: none;}

                    .whoaSubscriptionMenu li ul {
                        border:             1px solid;
                        border-color:       #FFF #EDEDED #EDEDED;
                        -webkit-box-shadow: 3px 3px 3px hsla(0.0,0.0%,0.0%,0.2);
                        box-shadow:         3px 3px 3px hsla(0.0,0.0%,0.0%,0.2);
                        font-size:          12px;
                        margin:             0;
                        padding:            0;
                        position:           absolute;
                        visibility:         hidden;
                    }

                        .whoaSubscriptionMenu li ul li {display: inline;float: none;}

                        .whoaSubscriptionMenu li ul li a:link,
                        .whoaSubscriptionMenu li ul li a:visited {
                            background:      #FFF;
                            border-bottom:   1px solid #EDEDED;
                            color:           #444;
                            display:         block;
                            line-height:     16px;
                            padding:         3px 7px;
                            text-decoration: none;
                            width:           auto;
                        }
                        .whoaSubscriptionMenu li ul li a:hover {
                            background: #4AABE7;
                            background: -webkit-linear-gradient(top,#54B5F1,#4AABE7);
                            background: -moz-linear-gradient(top,#54B5F1,#4AABE7);
                            background: -ms-linear-gradient(top,#54B5F1,#4AABE7);
                            background: -o-linear-gradient(top,#54B5F1,#4AABE7);
                            color:      #FFF !important;
                        }


    /* ! Header : Left
    -------------------------------------------------------------------------------- */

        #header-bottom-left {
            background:   #F6F6F6;
            border-color: #DCDCDC;
            border-style: none none solid;
            border-width: 1px;
            font-size:    14px;
            margin:       0;
        }

        
        /* ! Header : Left : Logo
        -------------------------------------------------------------------------------- */
        
            #header-img {margin: 0 12px 10px;}


        /* ! Header : Left : Page name
        -------------------------------------------------------------------------------- */

            .pagename {
                font-size:      16px;
                font-variant:   normal;
                font-weight:    normal;
                margin:         0 14px 0 3px;
                vertical-align: text-bottom;
            }

            .pagename a {
                border:                1px solid transparent;
                -webkit-border-radius: 3px;
                border-radius:         3px;
                color:                 #5A5A5A;
                display:               inline-block;
                padding:               6px 12px;
            }
            .pagename a:hover {
                background:      #FFF;
                background:      -webkit-linear-gradient(top,#FFF,#FBFBFB);
                background:      -moz-linear-gradient(top,#FFF,#FBFBFB);
                background:      -ms-linear-gradient(top,#FFF,#FBFBFB);
                background:      -o-linear-gradient(top,#FFF,#FBFBFB);
                border-color:    #E3E3E3;
                color:           #444;
                text-decoration: none;
            }


        /* ! Header : Left : Tab menu
        -------------------------------------------------------------------------------- */

            .tabmenu {
                display:         inline-block;
                line-height:     57px;
                list-style-type: none;
                margin:          0;
                vertical-align:  bottom;
                white-space:     nowrap;
            }


                /* ! Header : Left : Tab menu : Tab
                -------------------------------------------------------------------------------- */

                    .tabmenu li {
                        display:     inline;
                        font-weight: normal;
                        margin:      0 3px;
                    }

                    .tabmenu li a {background: none;padding: 7px 13px;}


                    .tabmenu li.disabled a,.tabmenu li.selected a {
                        border:                1px solid transparent;
                        -webkit-border-radius: 3px;
                        border-radius:         3px;
                    }


                    /* ! Header : Left : Tab menu : Tab : Selected
                    -------------------------------------------------------------------------------- */

                        .tabmenu li.selected a {
                            background: #FFF;
                            background: -webkit-linear-gradient(top,#FFF,#FBFBFB);
                            background: -moz-linear-gradient(top,#FFF,#FBFBFB);
                            background: -ms-linear-gradient(top,#FFF,#FBFBFB);
                            background: -o-linear-gradient(top,#FFF,#FBFBFB);
                            border:     1px solid #E3E3E3;
                            color:      #444;
                            z-index:    100;
                        }
                        .tabmenu li.selected a:hover {color: #4AABE7;}


                    /* ! Header : Left : Tab menu : Tab : Unselected
                    -------------------------------------------------------------------------------- */
                    
                        .tabmenu li.disabled a {color: #555;}
                        .tabmenu li.disabled a:hover {
                            background: #FFF;
                            background: -webkit-linear-gradient(top,#FFF,#FBFBFB);
                            background: -moz-linear-gradient(top,#FFF,#FBFBFB);
                            background: -ms-linear-gradient(top,#FFF,#FBFBFB);
                            background: -o-linear-gradient(top,#FFF,#FBFBFB);
                            border:     1px solid #E3E3E3;
                            color:      #444;
                        }


    /* ! Header : Right
    -------------------------------------------------------------------------------- */
    
        #header-bottom-right {
            background:            #FFF;
            border:                1px solid #DCDCDC;
            -webkit-border-radius: 0;
            border-radius:         0 0 0 5px;
            border-style:          none none solid solid;
            bottom:                unset;
            line-height:           100%;
            padding:               7px;
            position:              absolute;
            right:                 0;
            top:                   23px;
        }

        #header-bottom-right a {color: #555;}
        #header-bottom-right a:hover {color: #4AABE7;}

        #header-bottom-right .separator {
            color:  #BBB;
            margin: 0 4px;
        }

        #mail {
            display:     inline-block;
            overflow:    hidden;
            position:    relative;
            text-indent: -9999px;
            top:         2px;
        }

            #mail.havemail {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: -15px 0;
                cursor:              pointer;
                height:              10px;
                width:               15px;
            }
            #mail.nohavemail {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: 0 0;
                cursor:              pointer;
                height:              10px;
                width:               15px;
            }



/* ! Sitetable
================================================================================ */

    .content {
        margin:  0 320px 0 10px;
        z-index: 1;
    }

    .content > br {display: none;}

    .sitetable {list-style-type: none;}


    /* ! Sitetable : Link
    -------------------------------------------------------------------------------- */
        
        .link {
            border-bottom: 1px solid #E9E9E9;
            margin:        0;
            max-width:     700px;
            padding:       12px 0;
        }
        .link:last-child {border: 0;}


        /* ! Sitetable : Link : Rank
        -------------------------------------------------------------------------------- */
            
            .link .rank {
                color:       #CCC;
                float:       left;
                font-family: inherit;
                font-size:   10px;
                margin-top:  17px;
                text-align:  center;
            }


        /* ! Sitetable : Link : Votes
        -------------------------------------------------------------------------------- */
        
            .link .midcol {
                font-size:   12px;
                font-weight: bold;
            }

            .link .score {
                color:      #CCC;
                text-align: center;
            }
                .link .score.dislikes {color: #5DBEFF;}
                .link .score.likes {color: #FE5E5E;}

            .score.likes,.score.dislikes,
            .likes .score,.dislikes .score {display: none;}

            .likes .score.likes,
            .dislikes .score.dislikes {display: inline;}

            .likes div.score.likes,
            .dislikes div.score.dislikes {display: block;}


        /* ! Sitetable : Link : Thumbnail
        -------------------------------------------------------------------------------- */
            
            .thumbnail {
                background:            none;
                border:                2px solid #E6E6E6;
                -webkit-border-radius: 4px;
                border-radius:         4px;
                display:               block;
                float:                 left;
                font-size:             0;
                height:                100%;
                line-height:           100%;
                margin:                0 8px 0 0;
                max-width:             72px;
                overflow:              hidden;
                padding:               0;
                -webkit-transition:    border-color 0.1s ease-in-out;
                -moz-transition:       border-color 0.1s ease-in-out;
                -ms-transition:        border-color 0.1s ease-in-out;
                -o-transition:         border-color 0.1s ease-in-out;
                transition:            border-color 0.1s ease-in-out;
                width:                 auto;
            }
            a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active {border-color: #4AABE7;}

            .thumbnail > img,.thumbnail a > img {
                margin-left:  auto;
                margin-right: auto;
            }

            .thumbnail > img,.thumbnail a > img {
                display:   block;
                height:    auto;
                max-width: 100%;
            }


        /* ! Sitetable : Link : Title
        -------------------------------------------------------------------------------- */
            
            .link .title {
                color:       #3A3A3A;
                font-size:   16px;
                font-weight: normal;
                line-height: 22px;
                margin:      0;
                overflow:    hidden;
                padding:     0 8px 0 0;
            }

            .link .title.may-blank:visited {color: #444;}
            .link .title.may-blank:hover {color: #4AABE7;}


            /* ! Sitetable : Link : Title : Sticky
            -------------------------------------------------------------------------------- */

                .promoted {
                    background:            #63D99C;
                    border:                1px solid #54C88C;
                    -webkit-border-radius: 2px;
                    border-radius:         2px;
                    color:                 #FFF;
                    display:               inline-block;
                    font-family:           inherit;
                    font-size:             10px;
                    letter-spacing:        1px;
                    line-height:           11px;
                    margin-right:          3px;
                    max-width:             60px;
                    min-width:             48px;
                    overflow:              hidden;
                    padding:               2px;
                    text-align:            center;
                    white-space:           nowrap;
                }


            /* ! Sitetable : Link : Title : Domain
            -------------------------------------------------------------------------------- */
            
                .domain {
                    color:      #666;
                    font-size:  11px;
                    visibility: hidden;
                }

                .domain a {
                    color:             #555;
                    display:           inline-block;
                    max-width:         none;
                    overflow:          hidden;
                    -ms-text-overflow: ellipsis;
                    text-overflow:     ellipsis;
                    padding:           0 2px;
                    vertical-align:    middle;
                    visibility:        visible;
                    white-space:       nowrap;
                }
                .domain a:hover {color: #4AABE7;text-decoration: none;}


        /* ! Sitetable : Link : Expando
        -------------------------------------------------------------------------------- */
            
            .expando-button {
                float:  left;
                height: 16px;
                margin: 2px 5px 2px 0;
                width:  16px;
            }

            .expando-button.selftext.collapsed {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: 0 -42px;
                height:              16px;
                width:               16px;
            }
            .expando-button.selftext.collapsed:hover {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: -16px -42px;
                height:              16px;
                width:               16px;
            }
            .expando-button.selftext.expanded {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: 0 -58px;
                height:              16px;
                width:               16px;
            }
            .expando-button.selftext.expanded:hover {
                background:          url(http://i.imgur.com/uefdu1d.png);
                background-position: -16px -58px;
                height:              16px;
                width:               16px;
            }



        /* ! Sitetable : Link : Tag line
        -------------------------------------------------------------------------------- */
            
            .tagline a {
                color:           #4399CD;
                text-decoration: none;
            }
            .tagline a:visited {color: #4399CD;}
            .tagline a:hover {
                color:           #4AABE7;
                text-decoration: underline;
            }

            .link a.author {
                color:       #6D6D6D;
                font-weight: bold;
            }
            .link a.author:visited {color: unset;}
            .link a.author:hover {color: #4AABE7;}

            .subreddit.may-blank {color: #4399CD;}
            .subreddit.may-blank:hover {color: #4AABE7;}

            .tagline .commentvotesratio {visibility: hidden;}

                .tagline .post_upvotes {
                    color: #FE5E5E;
                    visibility: visible;
                }
                .tagline .post_downvotes {
                    color: #5DBEFF;
                    visibility: visible;
                }


        /* ! Sitetable : Link : Flat list 
        -------------------------------------------------------------------------------- */
        
            .link .flat-list {
                display:   block;
                font-size: 9px;
                margin:    10px 0 2px;
                padding:   0;
            }

                .link .buttons li {
                    border:        0;
                    display:       inline-block;
                    line-height:   20px;
                    padding-right: 3px;
                }

                .link .buttons li a {
                    background:            #F7F7F7;
                    background:            -webkit-linear-gradient(top,#F7F7F7,#F1F1F1);
                    background:            -moz-linear-gradient(top,#F7F7F7,#F1F1F1);
                    background:            -ms-linear-gradient(top,#F7F7F7,#F1F1F1);
                    background:            -o-linear-gradient(top,#F7F7F7,#F1F1F1);
                    border:                1px solid #E9E9E9;
                    -webkit-border-radius: 2px;
                    border-radius:         2px;
                    color:                 #555;
                    font-weight:           normal;
                    padding:               2px 4px;
                }
                .link .buttons li a:hover {
                    background:      #FFF;
                    background:      -webkit-linear-gradient(top,#F8F8F8,#FAFAFA);
                    background:      -moz-linear-gradient(top,#F8F8F8,#FAFAFA);
                    background:      -ms-linear-gradient(top,#F8F8F8,#FAFAFA);
                    background:      -o-linear-gradient(top,#F8F8F8,#FAFAFA);
                    text-decoration: none;
                }

                    .link .buttons li a.comments {
                        background:   #4AABE7;
                        background:   -webkit-linear-gradient(top,#F5B563,#EFA544);
                        background:   -moz-linear-gradient(top,#F5B563,#EFA544);
                        background:   -ms-linear-gradient(top,#F5B563,#EFA544);
                        background:   -o-linear-gradient(top,#F5B563,#EFA544);
                        border-color: #E19C42;
                        color:        #FFF;
                    }
                    .link .buttons li a.comments:hover {
                        background:   #66C2FB;
                        background:   -webkit-linear-gradient(top,#F9BF73,#F5B563);
                        background:   -moz-linear-gradient(top,#F9BF73,#F5B563);
                        background:   -ms-linear-gradient(top,#F9BF73,#F5B563);
                        background:   -o-linear-gradient(top,#F9BF73,#F5B563);
                        border-color: #EFA544;
                    }


    /* ! Sitetable : Pagination
    -------------------------------------------------------------------------------- */
    
        .pagination-container .btn-whoaverse-paging {
            margin:  2px 8px 2px 0;
            padding: 4px 18px;
        }

        .pagination-container .btn-whoaverse-paging a {
            display:     inline-block;
            height:      auto;
            line-height: unset;
            width:       auto;
        }


